.container {
    background-color: bisque;
}

#content {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 800px;
}

.todo {
    display: flex;
    margin-top: 20px;
    border: #ffffff solid 8px;
    border-radius: 10px;
    width: 95%;
    height: 60px;
}

.todo > div {
    margin-left: 15px;
    width: 90%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    font-size: 2em;
}

.cpbtn {
    display: flex;
    justify-content: center;
    align-self: center;
    background-image: url(./assets/plus-circle-outline.svg);
    background-repeat: no-repeat;
    width: 35px;
    height: 35px;
    border-radius: 100%;
}

.cpbtn:hover {
    background-color: aquamarine;
}

.detail {
    display: flex;
    background-image: url(./assets/plus-box-multiple.svg);
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    border-radius: 5px;
    align-self: center;
    margin-left: 20px;
}

.detbox {
    width: 500px;
    height: 300px;
}

.delbox {
    display: flex;
    background-image: url(./assets/close-box-multiple.svg);
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    border-radius: 5px;
    align-self: center;
    margin-right: 10px;
}   

.delbox:hover, .detail:hover {
    background-color: aqua;
}

/* Todo dialog styling */
.tdialog {
    border-radius: 10px;
}

.tdfield {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    width: 500px;
}


#box {
    background-color: bisque;
    display: flex;
    border: #ffffff solid 8px;
    border-radius: 15px;
    height: 60px;
    justify-content: center;
    align-items: center;
}