/* sidebar styling */
#sidebar {
    background-color: antiquewhite;
    display: grid;
    grid-template-rows: 2fr 1fr 1fr 6fr;
}

.title {
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 5px solid black;
}

.pcontainer {
    border-bottom: 2px solid black;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.project, .general {
    position: relative;
    right: 15px;
}

.plusbox, .plusbox2, .plbutton {
    position: relative;
    width: 30px;
    height: 30px;
    left: 10px;
}

.plusbox:hover, .plusbox2:hover {
    fill: aquamarine;
}

.gcontainer {
    border-bottom: 2px solid black;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.plists {
    text-align: center;
    padding-top: 5px;
    font-size: 30px;
}

.container { 
    display: grid;
    grid-template-rows: 100px;
    width: 100%;
    height: 100%;
}

.pfield {
    display: flex;
    flex-direction: column;
    border-radius: 5px;
}

.pdialog {
    border-radius: 10px;
    
}

.plists > div {
    display: flex;
    justify-content: center;
    font-size: 0.75em;
    margin: 5px;
}

.pbtn1 {
    display: flex;
    position: relative;
    margin-left: 8px;
    bottom: 2px;
    background-image: url(./assets/plus-box-multiple.svg);
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    border-radius: 5px;
}

.pbtn2 {
    display: flex;
    position: relative;
    margin-left: 5px;
    bottom: 2px;
    background-image: url(./assets/close-box-multiple.svg);
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    border-radius: 5px;
}

.pbtn1:hover, .pbtn2:hover {
    background-color: aqua;
}